<section class="comingSoon">
    <div class="comingSoon__contentContainer">
        <h4 class="comingSoon__contentContainer__header">Coming soon</h4>
        <p class="comingSoon__contentContainer__info">We’re busy adding the last few touches! This feature should be enabled in the next few weeks.</p>
        <button type="button" class="comingSoon__contentContainer__button aui-button aui-button-primary">Go back to project</button>
    </div>
    <div class="comingSoon__imgContainer">
        <img src="/public/assets/spot-hero.svg" class="comingSoon__imgContainer__img" alt="">
    </div>
</section>
