<div class="githubSetup__form__errorMessage__container {{hiddenClass}}">
  <span
    class="githubSetup__form__errorMessage__errorIcon aui-icon aui-icon-small aui-iconfont-warning"
  >
    GitHub setup error message
  </span>
  <p class="githubSetup__form__errorMessage">
    {{errorMessage}}
  </p>
</div>
