<div class="jiraConfiguration__empty">
  <img
      class="jiraConfiguration__empty__image"
      src="/public/assets/github-integration.svg"
      alt="Connecting GitHub and Jira"
  />
  <h3 class="jiraConfiguration__empty__header">Connect GitHub to Jira
    Software</h3>
  <p class="jiraConfiguration__empty__message">Connect your GitHub Cloud or GitHub Enterprise Server organization to
    Jira. Then start including issue keys in branches, commit messages or pull requests to see development insights in
    Jira.</p>
  <a
      href="https://support.atlassian.com/jira-cloud-administration/docs/integrate-with-github/"
      class="ak-button ak-button__appearance-default learn-more-link"
      target="_blank"
  >
    Learn more
    <span class="aui-icon aui-iconfont-shortcut">
            Shortcut
          </span>
  </a>
  <input type="hidden" id="_csrf" name="_csrf" value="{{../csrfToken}}">
  <button class="ak-button ak-button__appearance-primary select-github-product-link">
    Connect GitHub organization
  </button>
</div>
