<!-- Error Summary modal-->
<div class='jiraConfiguration__errorSummaryModal' id="error-summary-modal-{{id}}">
  <div class='jiraConfiguration__errorSummaryModalContent'>
    <div class="jiraConfiguration__errorSummaryModal__header__container">
      <h3>Errors occurred during the backfill</h3>
      <span id="close-error-summary" data-installation-id="{{id}}" class="jiraConfiguration__syncErrorSummaryModal__closeBtn aui-icon aui-iconfont-close-dialog"></span>
    </div>
    <div class="jiraConfiguration__errorSummaryModal__header__content">
      <p>The backfill finished but following entities were not backfilled. This may be because of permission issues, GitHub API rate-limiting and network outages. Learn more
        You could continue to use the integration and still view the backfilled data in Jira, while the app attempts to reprocess these entities.</p>
    </div>

    <div>
      <div class="error-summary-errors-header">
        Description
      </div>
      {{#if syncErrors.CONNECTION_ERROR}}
      <p>
         We were unable to complete backfill for <b>{{syncErrors.CONNECTION_ERROR}}</b> repositories due to unexpected issue, please retry.
      </p>
      {{/if}}

      {{#if syncErrors.PERMISSIONS_ERROR}}
      <p>
        We were unable to complete backfill for <b>{{syncErrors.PERMISSIONS_ERROR}}</b> repositories, because of GitHub Permissions, please check your GitHub permissions before attempting backfill again.
      </p>
      {{/if}}
    </div>

    <form class="jiraConfiguration__errorSummaryModal__form">
      <div class="jiraConfiguration__errorSummaryModal__actions">
        <a href="https://support.atlassian.com/" target="_blank" class="aui-button aui-button-link">Raise a support ticket</a>
        <button type="submit" id="submit-backfill-retry" class="aui-button aui-button-primary">Retry</button>
      </div>
    </form>
  </div>
  <div class="jiraConfiguration__errorSummaryModalOverlay"></div>
</div>

