<section class="loadingScreen___container">
    <h3 class="loadingScreen___header">{{title}}</h3>
    <div class="loadingScreen___imgContainer">
        <img class="loadingScreen___jiraImg" src="/public/assets/jira-logo.svg" alt="Jira">
        <div class="loadingScreen___imgDivider">-</div>
        <div>
            <aui-spinner size="large"></aui-spinner>
        </div>
        <div class="loadingScreen___imgDivider">-</div>
        <img class="loadingScreen___GitHubImg" src="/public/assets/github-logo.svg" alt="Github">
    </div>
    <p class="loadingScreen___message">
        {{message}}
    </p>
</section>
