<div class="modal" id="modal">
    <div class="modal__modalContent">
        <div class="modal__header__container">
            <span class="aui-icon aui-icon-small modal__header__icon aui-iconfont-warning"></span>
            <h4 class="modal__header__title"></h4>
        </div>

        <p class="modal__information"></p>

        <div class="modal__footer">
            <button class="aui-button aui-button-subtle modal__footer__close" id="modal-close-btn">Cancel</button>
            <button class="aui-button aui-button-subtle modal__footer__actionBtn" id="modal-action-btn"></button>
        </div>

        <div class="modal__spinner hidden">
          <aui-spinner size="medium"></aui-spinner>
        </div>
    </div>
    <div class="modal__modalOverlay"></div>
</div>
