<nav class="navigation">
    <a href="" class="navigation__backButton__container navigation__link">
        <img class="navigation__icon" src="/public/assets/arrow-left.svg" alt="Go back to {{previousPageName}}" />
    </a>
    <a href="" class="navigation__help__container navigation__link">
        <img class="navigation__icon" src="/public/assets/question.svg" alt="Go to help page" />
        <p class="navigation__help__message">Help</p>
    </a>
</nav>
