<nav class="navigation">
    <a href="" class="navigation__backButton__container navigation__link">
        <span class="aui-icon aui-icon-small aui-iconfont-arrow-left navigation__icon">Go back to {{previousPageName}}</span>
    </a>
    <a href="" class="navigation__help__container navigation__link">
        <span class="aui-icon aui-icon-small aui-iconfont-new-help navigation__icon">Navigate to help page.</span>
        <p class="navigation__help__message">Help</p>
    </a>
</nav>
