<nav class="navigation {{#if hideBackButton}}no-back-btn{{/if}}">
    {{#unless hideBackButton}}
        <button class="navigation__backButton__container navigation__link go-back">
            <img src="/public/assets/arrow-left.svg"
                 alt="Go back"const syncStatusIcon
            />
        </button>
    {{/unless}}
    <a
        href="https://support.atlassian.com/jira-cloud-administration/docs/integrate-with-github"
        class="navigation__help__container navigation__link"
        target="_blank"
    >
        <img class="navigation__icon" src="/public/assets/question.svg" alt="Navigate to support documentation" />
        <p class="navigation__help__message">Help</p>
    </a>
</nav>
