<div class="selectServer__title">
  {{#if headerImgURL}}
    <img class="selectServer__headerImg" src="{{headerImgURL}}" alt="Jira and GitHub"/>
  {{/if}}
  <h2 class="selectServer__header">{{header}}</h2>
  <p class="selectServer__subHeader">{{{subHeader}}}</p>
</div>