<div class="errorMessageBox__container">
  <i class="aui-icon aui-iconfont-error"></i>
  <div class="errorMessageBox__content">
    <div class="errorMessageBox__title"></div>
    <div class="errorMessageBox__message"></div>
  </div>
</div>
