# APP VARIABLES - NEEDED FOR PRODUCTION
# The ID of your GitHub App
NODE_ENV=development
APP_ID=
APP_URL=
WEBHOOK_SECRET=development
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
ATLASSIAN_SECRET=development-secret

# Proxy to use for outbound calls to the GitHub API. Leave empty to not use a proxy.
EXTERNAL_ONLY_PROXY_HOST=
EXTERNAL_ONLY_PROXY_PORT=

# Unique name for the jira app, used in the Atlassian Connect manifest to
# differentiate this instance from other deployments (staging, dev instances, etc).
INSTANCE_NAME=<jira-app-name>

# The Postgres URL used to connect to the database and secret for encrypting data
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/jira-dev
# Generate using `openssl rand -hex 32`
STORAGE_SECRET=

# DEVELOPMENT VARIABLES
TUNNEL_PORT=8080
WORKER_PORT=8081
TUNNEL_SUBDOMAIN=<subdomain>
PRIVATE_KEY_PATH=<your-private-key>.pem
ATLASSIAN_URL=https://<your-instance>.atlassian.net
TRACKING_DISABLED=true
HYDRO_BASE_URL=https://hydro-base-url.com/api/v1/events
HYDRO_APP_SECRET=2dd220c366ec5b86104efd7324c2d405

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug
WEBHOOK_PROXY_URL=
