# Set your auth token here if using ngrok, you can get it from https://dashboard.ngrok.com/get-started/setup
NGROK_AUTHTOKEN=some-token

# Unique name for the jira app, used in the Atlassian Connect manifest to
# differentiate this instance from other deployments (staging, dev instances, etc).
# Recommended to use your github username here
APP_KEY=com.github.integration.your-unique-instance-name

# These will be automatically filled when the docker container starts
APP_URL=http://localhost
WEBHOOK_PROXY_URL=http://localhost
