# Environment Files
.env
.env.bak.local
.env.local.*
.env.*.local
.env.*.local.*
!.env.example
!.env.local.example
!.env.*.local.example

# DB Secret File
*.pem
**/*.pem

# Transpiled files
build/

# Node Modules
node_modules/

# Coverage
coverage/

# log
log/
*.log

# new relic
newrelic_agent.log

# IDEs
.idea/
.vscode/
.vscodelog/*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

# Typescript Compilation
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map

#Deployments
.nebulae/

# e2e tests
test/e2e/test-results/

*.drawio.bkp
*.drawio.dtmp
