<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>Setup</title>
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <script src="/public/js/jquery.min.js"></script>
</head>

<body class="bg-white px-3 py-6">
  <section class="mx-auto" style="max-width: 510px">
    <img class="centered small mb-6" src="/public/jira-github-logo-compress.png" height="150"/>
    <h2 class="f2 text-center text-normal">Jira Software + GitHub AE App Registration</h2>
    </br>
    <p class="text-gray text-center mb-4">We are using <a href="https://docs.github.com/en/developers/apps/building-github-apps/creating-a-github-app-from-a-manifest">manifest flow</a> to create Jira Software + GitHub AE App in your GitHub AE instance.</p>
    <p class="text-gray text-center mb-4">All you have to do is provide us your GitHub AE account URL, we will create the Jira Software + GitHub AE app and link your account with it.</p>
    <hr />
    <h4 class="text-center text-normal"><b>GitHub AE Account Url</b></h4>
    </br>

</div>
    <form method="post" id="ghae_form_id" class="text-center text-normal">
      <div class="input-group">
          <input type="hidden" name="manifest" id="manifest" >
          <input class="form-control input-lg" type="text" name="ghaeInstance" id="ghae_url_id" placeholder={{ghaeInstanceUrl}}
        aria-label="GHAE Instance URL" value="" style="width: 500px;" autofocus>
        </span>
      </div>
      <p class="pt-2">
        <button class="btn btn-primary ghae-register-link" type="submit">Register Application</button>
      </p>
      <div id="errormessage"></div>
      {{#if error}}
        <div class="flash flash-error mb-2">
          {{error}}
        </div>
      {{/if}}
    </form>
  </section>
  <script src="/public/js/ghae-register.js"></script> 
</body>

</html>