<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>Setup Complete</title>
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <script src="/public/js/jquery.min.js"></script>
</head>

<body class="bg-gray px-3 py-6">
  <section class="mx-auto" style="max-width: 510px">
    <h2 class="f2 text-center text-normal">Congratulations</h2>
    <p class="text-gray text-center mb-4">your App is registerd with GHAE with below details</p>

       <div>{{app}}</div> 
  </section>
</body>

</html>
