<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>Setup</title>
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <script src="/public/js/jquery.min.js"></script>
</head>

<body class="bg-gray px-3 py-6">
  <section class="mx-auto" style="max-width: 510px">
    <h2 class="f2 text-center text-normal">GHAE App Registration</h2>
    <p class="text-gray text-center mb-4">you can create a jira app in your GHAE instance and link it with JIRA , using manifest flow.</p>
    <p class="text-gray text-center mb-4">All you have to do is provide us your instance URL, App manifest flow will create a jira app in your instance and link your instance with JIRA app </p>
    <p class="text-gray text-center mb-4">WHAT IS YOUR GHAE INSTANCE URL ?</p>

</div>
    <form method="post" id="ghae_form_id">
      <div class="input-group">
          <input type="hidden" name="manifest" id="manifest" >
          <input class="form-control input-lg" type="text" name="ghaeInstance" id="ghae_url_id" placeholder="GHAE instance url"
        aria-label="GHAE Instance URL" value="" autofocus>
        </span>
      </div>
      <p class="pt-2">
        <button class="btn btn-primary ghae-register-link" type="submit" >REGISTER JIRA APP</button>
      </p>
      {{#if error}}
        <div class="flash flash-error mb-2">
          {{error}}
        </div>
      {{/if}}
    </form>
  </section>
  <script src="/public/js/ghae-register.js"></script> 
</body>

</html>