<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>Setup Complete</title>
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <script src="/public/js/jquery.min.js"></script>
</head>

<body class="bg-gray px-3 py-6">
  <section class="mx-auto" style="max-width: 510px">
    </br></br></br></br></br>
    <h1 class="f1 text-center text-normal"><FONT COLOR="GREEN">Congratulations</FONT></h1>
    </br>
    <p class="text-gray text-center mb-4">Jira Software + GitHub AE App Registration Complete</p>

  </section>
</body>

</html>
