<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/primer/build.css" media="all" />
    <script src="/public/js/jquery.min.js"></script>
  </head>
  <body class="bg-gray px-3 py-6">
    <img class="centered small mb-6" src="https://octodex.github.com/images/supportcat.png" height="300"/>
    <section class="mx-auto" style="max-width: 510px">
      <h2 class="f2 text-center text-normal mb-2">Looks like something went wrong!</h2>

      <hr />

      <p class="text-gray text-center mb-4">We track these errors automatically, but if the problem persists feel free to <a href="https://github.com/contact">contact us</a>. In the meantime, try adding an organization again in Jira.</p>

      <p class="text-gray text-center mb-4">If you navigated to this page yourself, you're probably looking for the <a href="{{ info.html_url }}">GitHub + Jira integration</a>.</p>
    </section>
  </body>
</html>
