<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/github-error.css" media="all" />
    <link rel="stylesheet" href="/public/primer/build.css" media="all" />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>
  <body class="githubError">
    <section class="githubError__container">
      <img
        class="githubError__errorImg"
        src="/public/assets/error.png"
        alt="Error"
      />

      <h3 class="githubError__header">Looks like something went
        wrong!</h3>

      <p class="githubError__message">
        We track these errors automatically, but if the problem persists feel
        free to
        <a
          class="githubError__link"
          href="https://support.atlassian.com/contact/#/?inquiry_category=technical_issues&is_cloud=true&product_key=third-party-product"
        >contact us</a>. In the meantime, try adding an organization again in
        Jira.
      </p>

      <a
        class="githubError__link"
        href="https://github.com/atlassian/github-for-jira/blob/old-master/README.md"
      >Learn how</a>
    </section>
  </body>
</html>
