<header>
  <h1>GitHub Configuration</h1>
</header>

<section>
  {{#if subscriptions}}
    You have subscriptions!
  {{else}}
    You have no subscriptions
    <button class="ak-button ak-button__appearance-primary">Add a GitHub Organization</button>
  {{/if}}
</section>
