<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/pages/public/css-reset/bundle.css" media="all" />
    <link rel="stylesheet" href="/pages/public/atlassian-ui-kit/bundle.css" media="all" />
  </head>
  <body class="aui-page-hybrid">
    <div class="ac-content">
      {{{body}}}
    </div>
    <script src="{{host}}/atlassian-connect/all.js"></script>
  </body>
</html>
