<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="public-url" content="{{APP_URL}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
  <link rel="stylesheet" href="/public/atlassian-ui-kit/bundle.css" media="all" />
  <link rel="stylesheet" href="/public/css/styles.css" media="all" />
  <style>
    section {
      padding: 0 16px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      clear: both;
      text-align: center;
      font-size: 14px;
      max-width: 573px;
    }

    section h2 {
      margin: 24px 0 !important;
      font-size: 24px;
    }
  </style>
</head>
<body class="aui-page-hybrid">
<div class="ac-content">
  <div class="page-content">
    <section>
      <img height="224" src="/public/maintenance.svg" alt="Under Maintenance" />
      <div>
        <h2>Github For Jira is temporarily under maintenance</h2>
        <p>Adding, configuring and removing Github organizations is disabled during this time. The integration will be
          functional shortly after maintenance is complete.</p>
      </div>
    </section>
  </div>
</div>

<!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
<script src="https://connect-cdn.atl-paas.net/all.js" nonce="{{nonce}}"></script>
</body>
</html>
