<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="public-url" content="{{APP_URL}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
  <style>

    body {
      background-color: #FFFAE6;
    }

    section.warning {
      padding: 16px;
      margin-top: 50px;
      clear: both;
    }

    section.warning .icon {
      float: left;
      height: 75px;
      padding-right: 16px;
      padding-top: 5px;
    }
  </style>
</head>
<body>
  <section class="warning">
    <div class="icon">
      <img width="18" height="17" src="/public/warning-icon.svg" alt="Warning!" />
    </div>
    <div>
      <h2>Github For Jira is temporarily under maintenance</h2>
      <p>Adding, configuring and removing Github organizations is disabled during this time. The integration will be functional shortly after maintenance is complete.</p>
    </div>
  </section>
</body>
</html>
