<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="public-url" content="{{APP_URL}}">
  <title>{{title}}</title>
</head>
<body>
</body>
</html>
