.gitHubSetup__subHeader {
  color: #586069;
}

.githubSetup__container {
  margin: 6em auto;
  width: 500px;
}

.githubSetup__inputLabel {
  color: #172b4d !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
}

.githubSetup__form__inputContainer {
  align-items: center;
  display: flex;
  margin: 1em auto;
}

.githubSetup__form__input {
  margin-right: 0.5em !important;
  max-width: inherit !important;
  padding: 1.3em 0.5em !important;
}

.githubSetup__form__jiraSiteSuffix {
  font-weight: bold;
}

.githubSetup__form__submitBtn {
  font-weight: normal;
}

.githubSetup__table__row {
  padding: 1em auto;
}

.githubSetup__jiraHostWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1;
  margin: 2em auto;
}

.githubSetup__headerWrapper {
  color: #6b778c;
  font-size: 0.9rem;
  padding: 1em 0;
}

.githubSetup__marketplaceUrl {
  color: #172b4d;
}

.githubSetup__marketplaceUrl:active,
.githubSetup__marketplaceUrl:hover,
.githubSetup__marketplaceUrl:focus {
  color: #172b4d;
}

.githubSetup__connectNewJiraInstance {
  color: #172b4d;
  cursor: pointer;
  font-weight: 500;
  padding: 0.8em 0;
}

.githubSetup__connectNewJiraInstance:hover,
.githubSetup__connectNewJiraInstance:focus,
.githubSetup__connectNewJiraInstance:active {
  background-color: #f5f6f7;
  color: #172b4d;
  text-decoration: none;
}

.githubSetup__connectNewJiraInstance__plus {
  font-size: 1.1rem;
  padding: 0 0.7em 0 0.3em;
  transform: scale(1.5);
}
