body {
  background: #fff;
}
.gitHubSetup__subHeader {
  color: #586069;
}

.githubSetup__githubOrgConfirmation__container {
  text-align: center;
}

.githubSetup__githubOrgConfirmation__label {
  color: #344563;
}

.githubSetup__githubOrgConfirmation__selectedOrgContainer {
  display: flex;
  justify-content: center;
  margin: 1.5em auto;
  width: 40%;
}

.githubSetup__githubOrgConfirmation__avatar {
  border-radius: 2px;
  margin-right: 0.4em;
  transform: scale(1.2);
}

.githubSetup__githubOrgConfirmation__orgName {
  font-weight: 500;
  margin-left: 0.4em;
}

.githubSetup__container {
  margin: 2em auto;
  width: 500px;
}

.githubSetup__form__header {
  font-size: 1.4rem;
}

.githubSetup__form__fieldGroup > .githubSetup__inputLabel {
  color: #172b4d;
  font-size: 1.2rem;
  font-weight: 500;
}

.githubSetup__form__inputContainer {
  align-items: center;
  display: flex;
  margin: 0.5em auto 0.5em;
}

.githubSetup__form__inputContainer > .githubSetup__form__input,
.githubSetup__form > .githubSetup__form__inputError {
  -webkit-text-fill-color: #262b31;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  background-color: #fff;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  box-shadow: 0 0 0 1000px #fff inset;
  box-sizing: border-box;
  color: #262b31;
  font-size: inherit;
  height: 2.14285714em;
  line-height: 1.42857143;
  margin-right: 0.5em;
  max-width: inherit;
  padding: 1.3em 0.5em;
  width: 100%;
  vertical-align: initial;
}

.githubSetup__form__inputContainer > .githubSetup__form__input,
.githubSetup__form__inputContainer > .githubSetup__form__input:hover,
.githubSetup__form__inputContainer > .githubSetup__form__input:active,
.githubSetup__form__inputContainer > .githubSetup__form__input:focus,
.githubSetup__form__inputContainer > .githubSetup__form__input:focus-within,
.githubSetup__form__inputContainer > .githubSetup__form__input:focus-visible,
.githubSetup__form__inputContainer > .githubSetup__form__input:target {
  border: 2px solid #dfe1e6;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.githubSetup__form > .githubSetup__form__inputError,
.githubSetup__form > .githubSetup__form__inputError:hover,
.githubSetup__form > .githubSetup__form__inputError:active,
.githubSetup__form > .githubSetup__form__inputError:focus,
.githubSetup__form > .githubSetup__form__inputError:focus-within,
.githubSetup__form > .githubSetup__form__inputError:focus-visible,
.githubSetup__form > .githubSetup__form__inputError:target,
.githubSetup__form > .githubSetup__form__inputError:visited {
  border: 2px solid #de350b;
  outline: none;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.githubSetup__form__jiraSiteSuffix {
  font-weight: bold;
}

.githubSetup__form__submitBtn {
  font-weight: normal;
}

.githubSetup__form__cancelBtn {
  cursor: pointer;
  margin-right: 1em;
}

.githubSetup__table {
  padding: 0.8em 0;
}

.githubSetup__table__row {
  display: flex;
}

.githubSetup__table__row__jiraHostContainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.githubSetup__table__logo {
  height: 24px;
  margin-right: 0.5em;
  width: 24px;
}

.githubSetup__jiraHostWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1;
  margin: 2em auto;
}

.githubSetup__headerWrapper {
  color: #6b778c;
  font-size: 0.9rem;
  padding: 1em 0;
}

.githubSetup__marketplaceUrl {
  color: #172b4d;
}

.githubSetup__marketplaceUrl:active,
.githubSetup__marketplaceUrl:hover,
.githubSetup__marketplaceUrl:focus {
  color: #172b4d;
}

.githubSetup__connectNewJiraInstance {
  color: #172b4d;
  cursor: pointer;
  font-weight: 500;
  padding: 0.8em 0;
}

.githubSetup__connectNewJiraInstance:hover,
.githubSetup__connectNewJiraInstance:focus,
.githubSetup__connectNewJiraInstance:active {
  background-color: #f5f6f7;
  color: #172b4d;
  text-decoration: none;
}

.githubSetup__connectNewJiraInstance__plus {
  font-size: 1.1rem;
  padding: 0 0.7em 0 0.3em;
  transform: scale(1.5);
}

.githubSetup__form__errorMessage__container {
  display: flex;
}

.githubSetup__form__modalButtons {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 2em;
}

.githubSetup__form__errorMessage__container {
  align-items: center;
  color: #de350b;
  display: flex;
  margin-bottom: 1em;
}

.githubSetup__form__errorMessage {
  margin-left: 0.5em;
}

.hidden {
  display: none;
}
