.getSubscription__info__container {
  background-color: #deebff;
  border-radius: 3px;
  display: flex;
  margin: 2em auto;
  padding: 1em;
}

.getSubscription__info__icon__container {
  position: relative;
  width: 5em;
}

.getSubscription__info__icon {
  color: #0747a6;
  position: absolute;
  transform: scale(1.5);
}

.aui-icon::before {
  left: 0.3em;
  position: absolute;
  top: 0.3em;
}

.getSubscription__installation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.4em 0;
}

.getSubscription__installation__jiraLogo {
  height: 24px;
  width: 24px;
}

.connectedInstances {
  margin-bottom: 0.7em;
}

.getSubscription__installation__instance {
  display: flex;
  font-weight: bold;
}

.getSubscription__installation__jiraLogo {
  height: 24px;
  margin-right: 0.5em;
  width: 24px;
}

.getSubscription__installation__instance--empty {
  font-weight: bold;
}
