
.gitHubConfiguration {
    margin: auto;
    max-width: 740px;
    height: 100vh;
}

.gitHubConfiguration > .gitHubConfiguration__header {
    font-weight: 500;
}

.gitHubConfiguration__gitHubServerApp {
    color: #6B778C;
    margin: 0.8em 0;
    text-align: center;
}

.gitHubConfiguration__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1;
    margin: 2em auto;
}

.gitHubConfiguration__wrapper .col1 {
    display: flex;
    flex: 3;
}

.gitHubConfiguration__wrapper .col2 {
    display: flex;
    flex: 4;
}

.gitHubConfiguration__tableHeader {
    color: #6b778c;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
}

.gitHubConfiguration__tableHeader__label {
    align-self: flex-end;
    margin-bottom: 0.7em;
}

.Box {
    border: 0;
    border-radius: 0;
}

.githubOrgs__table {
    padding: 1em 0;
}

.githubOrgs__table__row {
    border-top: 0;
    line-height: 0;
}

.githubOrgs__table__row:not(:last-child) {
    padding-bottom: 1.5em;
}

.githubOrgs__table__row,
.gitHubConfiguration__orgContent:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.gitHubConfiguration__orgContent__account,
.gitHubConfiguration__orgContent__repoAccess,
.gitHubConfiguration__orgContent__connect,
.gitHubConfiguration__orgContent__ipBlocked {
    align-items: center;
    color: #213658;
    display: flex;
}

.gitHubConfiguration__orgContent__repoAccess {
    flex-grow: 1;
}

.gitHubConfiguration__orgContent:last-child {
    display: flex;
    justify-content: flex-end;
}

.gitHubConfiguration__orgContent__connect {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 0.5em;
}

.gitHubConfiguration__orgContent__avatar {
    margin-right: 0.5em;
    width: 25px;
}

.gitHubConfiguration__orgContent__repoSelection {
    margin: 0;
}

.gitHubConfiguration__orgContent__repoAccess > .gitHubConfiguration__orgContent__numberOfRepos {
    margin: auto 0.5em;
}

.gitHubConfiguration__orgContent__connectedMsg,
.gitHubConfiguration__loaderContainer {
    border: 0;
    border-radius: 3px;
    color: #42526e;
}

.gitHubConfiguration__orgContent__connectFailed__warningIcon {
    color: #ff9b20;
    left: -20px;
    position: absolute;
    top: 7px;
    transform: scale(1.3);
}

.gitHubConfiguration__orgContent__connectBtn--disabled:hover,
.gitHubConfiguration__orgContent__settingsContainer--disabled:hover,
.gitHubConfiguration__deleteSubscription--notAdmin:hover {
    cursor: not-allowed;
}

.gitHubConfiguration__deleteSubscription--notAdmin {
    position: absolute;
}

.gitHubConfiguration__notAdminMsg {
    height: 3.8em;
    left: 8.3em;
    top: -0.3em;
    width: 22em;
}

.gitHubConfiguration__failedSyncWarningLabel {
    left: -19em;
    top: -4em;
    width: 36em;
}

.gitHubConfiguration__notAdminMsg,
.gitHubConfiguration__deleteSubscription,
.gitHubConfiguration__deleteSubscription--notConnected,
.gitHubConfiguration__deleteSubscription--notAdmin,
.gitHubConfiguration__failedSyncWarningLabel {
    color: #b4bbc5;
    font-size: 0.7rem;
    line-height: 1.4;
    padding: 0.5em;
}

.gitHubConfiguration__orgContent__connect > .gitHubConfiguration__orgContent__connectedMsg {
    font-style: italic;
    margin: 0 0.5em;
}

.gitHubConfiguration__orgContent__settingsContainer,
.gitHubConfiguration__orgContent__settingsContainer--disabled,
.gitHubConfiguration__orgContent__settingsContainer--notConnected {
    background: none;
    border: 0;
    margin-left: 10px;
    padding: 0.45em;
    position: relative;
}

.gitHubConfiguration__orgContent__settingsContainer,
.gitHubConfiguration__orgContent__settingsContainer--disabled {
    cursor: pointer;
}

.gitHubConfiguration__orgContent__settingsContainer--notConnected {
    cursor: not-allowed;
}

.gitHubConfiguration__orgContent__editContainer {
    border-radius: 3px;
    cursor: pointer;
    padding: 0.45em;
    position: relative;
}

.gitHubConfiguration__orgContent__connectFailed__warningIcon {
    cursor: pointer;
}

.gitHubConfiguration__orgContent__settingsContainer--disabled:hover {
    background-color: #f5f6f8;
}

.gitHubConfiguration__orgContent__settingsContainer,
.gitHubConfiguration__orgContent__settingsContainer:hover,
.gitHubConfiguration__orgContent__settingsContainer:active,
.gitHubConfiguration__orgContent__settingsContainer:focus,
.gitHubConfiguration__orgContent__settingsContainer--notConnected,
.gitHubConfiguration__orgContent__settingsContainer--notConnected:hover,
.gitHubConfiguration__orgContent__settingsContainer--notConnected:active,
.gitHubConfiguration__orgContent__settingsContainer--notConnected:focus {
    color: inherit;
}

.gitHubConfiguration__orgContent__editContainer:hover,
.gitHubConfiguration__orgContent__settingsContainer:hover {
    background: #091E4208;
}

.gitHubConfiguration__orgContent__settingsContainer:hover
~ .gitHubConfiguration__deleteSubscription,
.gitHubConfiguration__orgContent__settingsContainer--disabled:hover
~ .gitHubConfiguration__deleteSubscription--notAdmin,
.gitHubConfiguration__orgContent__connectFailed__warningIconContainer:hover
~ .gitHubConfiguration__failedSyncWarningLabel,
.gitHubConfiguration__orgContent__connectBtn--disabled:hover
~ .gitHubConfiguration__notAdminMsg,
.gitHubConfiguration__orgContent__settingsContainer--notConnected:hover
~ .gitHubConfiguration__deleteSubscription--notConnected {
    display: block;
    text-align: center;
}

.gitHubConfiguration__deleteSubscription--notAdmin {
    left: -2em;
    top: -4em;
    width: 24em;
}

.gitHubConfiguration__deleteSubscription {
    left: 3em;
    top: -2.4em;
    width: 11.5em;
}

.gitHubConfiguration__deleteSubscription--notConnected {
    left: 0em;
    top: -5.4em;
    width: 20em;
}

.gitHubConfiguration__noOrganizations {
    color: #172b4d;
}

.gitHubConfiguration__connectNewOrg {
    color: #172b4d;
    font-weight: 500;
    padding: 0.8em 0;
}

.gitHubConfiguration__connectNewOrg__plus {
    font-size: 1.1rem;
    padding: 0 0.7em 0 0.5em;
    transform: scale(1.5);
}

.gitHubConfiguration__connectNewOrg:hover,
.gitHubConfiguration__connectNewOrg:focus,
.gitHubConfiguration__connectNewOrg:active {
    background-color: #f5f6f7;
    border-radius: 3px;
    color: #172b4d;
    text-decoration: none;
}

.no-organization-in-github {
    width: 80%;
    margin: 0 auto 18px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ******************* */
/* ** Media Queries ** */
/* ******************* */
/* Extra large devices  */
@media (max-width: 1200px) {
    .gitHubConfiguration__notAdminMsg {
        height: 6.2em;
        top: -1.5em;
        width: 14em;
    }
}

/* Large devices  */
@media (max-width: 992px) {
    .gitHubConfiguration__notAdminMsg {
        left: -12em;
    }

    .gitHubConfiguration__deleteSubscription--notAdmin,
    .gitHubConfiguration__failedSyncWarningLabel {
        top: -0.5em;
    }

    .gitHubConfiguration__deleteSubscription--notAdmin {
        left: -16em;
    }

    .gitHubConfiguration__failedSyncWarningLabel {
        left: -39em;
    }
}


@media (max-width: 540px) {
    .getConfiguration__tableHeader {
        padding-bottom: 0;
    }

    .getConfiguration__wrapper,
    .getConfiguration__accountLink,
    .getConfiguration__disclaimer {
        font-size: 0.8rem;
    }
}
