.githubError__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    max-width: 570px;
  }

  .githubError__errorImg {
    margin-bottom: 2em;
    width: 11.5em;
  }

  .githubError__header {
    /*  Override build.css */
    font-size: 1.3rem !important;
  }

  .githubError__message {
    margin: 1em auto;
    text-align: center;
  }

  .githubError__link {
    color: #0052cc;
  }

  .githubError__link:hover {
    text-decoration: none;
  }
