.getConfiguration {
  margin: auto;
  max-width: 740px;
  height: 100vh;
}

.getConfiguration__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1;
  margin: 2em auto;
}

.getConfiguration__tableHeader {
  color: #6b778c;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  padding: 1em 0 0;
}

.getConfiguration__tableHeader__label {
  margin-bottom: 0;
}

.Box {
  border: 0;
  border-radius: 0;
}

.githubOrgs__table__row {
  border-top: 0;
  line-height: 0;
}

.githubOrgs__table__row:not(:last-child) {
  padding-bottom: 0.8em;
}

.githubOrgs__table__row,
.getConfiguration__orgContent:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.getConfiguration__orgContent,
.getConfiguration__orgContent__account {
  align-items: center;
  color: #213658;
  display: flex;
}

.getConfiguration__orgContent:last-child {
  display: flex;
  justify-content: flex-end;
}

.getConfiguration__orgContent__account {
  flex: 2;
}

.getConfiguration__orgContent__avatar {
  margin-right: 0.5em;
  width: 25px;
}

.getConfiguration__orgContent__repoSelection {
  margin: 0;
}

.getConfiguration__orgContent__numberOfRepos {
  background-color: #f4f5f7;
  border-radius: 12px;
  margin: auto 0.5em;
  padding: 0.7em 0.6em;
}

.getConfiguration__orgContent__connectBtn,
.getConfiguration__orgContent__connectBtn--disabled {
  border: 0;
  border-radius: 3px;
  color: #42526e;
}

.getConfiguration__orgContent__connectBtn {
  background-color: #f4f5f7;
  padding: 1em 0.8em;
}

.getConfiguration__orgContent__connectedMsg {
  font-style: italic;
  margin: 0;
}

.getConfiguration__orgContent__connectBtn:hover,
.getConfiguration__orgContent__connectBtn:focus,
.getConfiguration__orgContent__connectBtn:active,
.getConfiguration__orgContent__connectBtn:focus:active,
.getConfiguration__orgContent__connectBtn:hover:active {
  background-color: #ebecf0;
}

.getConfiguration__loaderContainer {
  display: flex;
  justify-content: center;
  width: 5.5em;
}

.getConfiguration__loader {
  animation: spin 2s linear infinite;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #42526e;
  height: 1.8em;
  width: 1.8em;
}

.getConfiguration__noOrganizations {
  color: #172b4d;
}

.getConfiguration__connectNewOrg {
  color: #172b4d;
  font-weight: 500;
  padding: 0.8em 0;
}

.getConfiguration__connectNewOrg__plus {
  font-size: 1.1rem;
  padding: 0 0.7em 0 0.3em;
  transform: scale(1.5);
}

.getConfiguration__connectNewOrg:hover,
.getConfiguration__connectNewOrg:focus,
.getConfiguration__connectNewOrg:active {
  background-color: #f5f6f7;
  text-decoration: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries */
@media (max-width: 540px) {
  .getConfiguration__wrapper,
  .getConfiguration__accountLink,
  .getConfiguration__disclaimer {
    font-size: 0.8rem;
  }

  .getConfiguration__tableHeader {
    padding-bottom: 0;
  }

  .getConfiguration__loader {
    height: 1.8em;
    width: 1.8em;
  }
}
