.getConfiguration__logout__container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .getConfiguration__logout__link {
    cursor: pointer;
    color: #0366d6;
  }

  .getConfiguration__logout__name {
    font-weight: bold;
  }

  .getConfiguration {
    margin: auto;
    max-width: 740px;
    height: 100vh;
  }

  .getConfiguration__header {
    font-weight: 500 !important;
  }

  .getConfiguration__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1;
    margin: 2em auto;
  }

  .getConfiguration__tableHeader {
    color: #6b778c;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
  }

  .getConfiguration__tableHeader__label {
    align-self: flex-end;
    margin-bottom: 0.7em;
  }

  .getConfiguration__tableHeader__label:first-child {
    flex: 3;
  }

  .getConfiguration__tableHeader__label:last-child {
    flex: 4;
  }

  .Box {
    border: 0;
    border-radius: 0;
  }

  .githubOrgs__table__row {
    border-top: 0;
    line-height: 0;
  }

  .githubOrgs__table__row:not(:last-child) {
    padding-bottom: 1.5em;
  }

  .githubOrgs__table__row,
  .getConfiguration__orgContent:nth-child(2) {
    display: flex;
    flex-direction: row;
  }

  .getConfiguration__orgContent__account,
  .getConfiguration__orgContent__repoAccess,
  .getConfiguration__orgContent__connect {
    align-items: center;
    color: #213658;
    display: flex;
  }

  .getConfiguration__orgContent:last-child {
    display: flex;
    justify-content: flex-end;
  }

  .getConfiguration__orgContent__account,
  .getConfiguration__orgContent__repoAccess {
    flex: 3;
  }

  .getConfiguration__orgContent__connect {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .getConfiguration__orgContent__avatar {
    margin-right: 0.5em;
    width: 25px;
  }

  .getConfiguration__orgContent__repoSelection {
    margin: 0;
  }

  .getConfiguration__orgContent__connectBtn,
  .getConfiguration__orgContent__connectBtn--disabled,
  .getConfiguration__orgContent__connectedMsg,
  .getConfiguration__loaderContainer {
    border: 0;
    border-radius: 3px;
    color: #42526e;
    margin-right: 0.5em;
  }

  .getConfiguration__orgContent__connectBtn {
    background-color: #f4f5f7;
    padding: 1em 0.8em;
  }

  .getConfiguration__orgContent__connectedMsg {
    font-style: italic;
  }

  .getConfiguration__orgContent__connectBtn:hover,
  .getConfiguration__orgContent__connectBtn:focus,
  .getConfiguration__orgContent__connectBtn:active,
  .getConfiguration__orgContent__connectBtn:focus:active,
  .getConfiguration__orgContent__connectBtn:hover:active {
    background-color: #ebecf0;
  }

  .getConfiguration__noOrganizations {
    color: #172b4d;
  }

  .getConfiguration__connectNewOrg {
    color: #172b4d;
    font-weight: 500;
    padding: 0.8em 0;
  }

  .getConfiguration__connectNewOrg__plus {
    font-size: 1.1rem;
    padding: 0 0.7em 0 0.5em;
    transform: scale(1.5);
  }

  .getConfiguration__connectNewOrg:hover,
  .getConfiguration__connectNewOrg:focus,
  .getConfiguration__connectNewOrg:active {
    background-color: #f5f6f7;
    border-radius: 3px;
    color: #172b4d;
    text-decoration: none;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
