p {
  margin: 0;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

.pageContent {
  background-color: #fff;
  padding: 20px;
  min-height: 600px;
}

.headerImage {
  margin: 2em auto 1em;
  text-align: center;
}

.headerText {
  font-size: 1.5rem;
  text-align: center;
}

.jiraInstance {
  color: #586069;
  margin-bottom: 0;
  text-align: center;
}

.actionBtn,
.actionBtn--empty {
  border: 0;
  border-radius: 3px;
  min-width: 5em;
  padding: 0.5em 0.8em;
}

.actionBtn {
  background-color: #f4f5f7;
  color: #42526e;
}

.actionBtn--empty {
  background-color: #0052cc;
  color: #fff;
}

.actionBtn:hover,
.actionBtn:focus,
.actionBtn:active,
.actionBtn:focus:active,
.actionBtn:hover:active {
  background-color: #ebecf0;
}

.tableHeader {
  color: #6b778c;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  padding: 1em 0 0;
}

.tableHeader__label {
  margin-bottom: 0;
}

.tableHeader__label {
  flex: 2;
}

.githubOrgs__table,
.githubSetup__table {
  border-top: 2px solid #e0e2e7;
  border-bottom: 2px solid #e0e2e7;
}

.gitHubConfiguration__orgContent__numberOfRepos,
.jiraConfiguration__table__syncCount {
  background-color: #dfe1e6;
  border-radius: 12px;
}

.gitHubConfiguration__orgContent__numberOfRepos {
  margin: auto 0.5em;
  padding: 0.7em 0.6em;
}

.jiraConfiguration__table__syncCount {
  margin: auto 0.3em;
  padding: 0.1em 0.4em 0.1em 0.6em;
}

.gitHubConfiguration__loaderContainer,
.jiraConfiguration__loaderContainer {
  display: flex;
  justify-content: center;
}

.gitHubConfiguration__loaderContainer {
  width: 5.5em;
}

.jiraConfiguration__loaderContainer {
  width: 2em;
}

.gitHubConfiguration__orgContent__edit,
.jiraConfiguration__table__edit {
  color: #43526e;
}

.jiraConfiguration__retryMsg,
.jiraConfiguration__syncWarningMessage,
.gitHubConfiguration__notAdminMsg,
.gitHubConfiguration__deleteSubscription,
.gitHubConfiguration__deleteSubscription--notAdmin,
.gitHubConfiguration__failedSyncWarningLabel,
.gitHubSubscriptions__deleteSubscription,
.gitHubConfiguration__deleteSubscription--notConnected {
  background-color: #172b4d;
  border-radius: 3px;
  display: none;
  position: absolute;
}

.jiraConfiguration__table__edit:before:hover,
.jiraConfiguration__table__edit:before:active,
.jiraConfiguration__table__edit:before:focus {
  text-decoration: none;
}

.githubConfiguration__logout__container,
.gitHubSetup__getJira__container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.githubConfiguration__logout__link,
.gitHubSetup__getJira__link {
  cursor: pointer;
  color: #0366d6;
}

.githubConfiguration__logout__name {
  font-weight: bold;
}

.githubConfiguration__header,
.gitHubSetup__header {
  font-weight: 500 !important;
}

/* Modals */
.jiraConfiguration__syncRetryModalOverlay,
.jiraConfiguration__errorSummaryModalOverlay,
.jiraConfiguration__restartBackfillModalOverlay,
.githubSetup__newJiraSiteModalOverlay,
.jiraConnectedRepos__backfillStatusModalOverlay,
.modal__modalOverlay {
  background: #091e42;
  opacity: 54%;
  z-index: 100;
}

.jiraConfiguration__syncRetryModal,
.jiraConfiguration__restartBackfillModal,
.jiraConfiguration__errorSummaryModal,
.jiraConnectedRepos__backfillStatusModal,
.githubSetup__newJiraSiteModal,
.modal {
  display: none;
}

.jiraConfiguration__syncRetryModal,
.jiraConfiguration__syncRetryModalOverlay,
.jiraConfiguration__errorSummaryModal,
.jiraConfiguration__errorSummaryModalOverlay,
.jiraConfiguration__restartBackfillModal,
.jiraConfiguration__restartBackfillModalOverlay,
.jiraConnectedRepos__backfillStatusModal,
.jiraConnectedRepos__backfillStatusModalOverlay,
.githubSetup__newJiraSiteModal,
.githubSetup__newJiraSiteModalOverlay,
.modal,
.modal__modalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.jiraConfiguration__syncRetryModalContent,
.jiraConfiguration__errorSummaryModalContent,
.jiraConfiguration__restartBackfillModalContent,
.jiraConnectedRepos__backfillStatusModalContent,
.githubSetup__newJiraSiteModalContent,
.modal__modalContent {
  -webkit-transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 3px 5px rgb(9 30 66 / 20%), 0 0 1px rgb(9 30 66 / 31%);
  border-radius: 3px;
  left: 50%;
  padding: 2em;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 600px;
}

.jiraConfiguration__syncRetryModalContent,
.jiraConfiguration__errorSummaryModalContent,
.jiraConfiguration__restartBackfillModalContent{
  top: 15%;
  width: 56%;
}

.jiraConnectedRepos__backfillStatusModalContent {
  top: 15%;
  width: 550px;
}

.jiraConfiguration__restartBackfillModalContent {
  max-width: 540px;
}

.jiraConfiguration__errorSummaryModalContent{
  max-width: 740px;
}

.githubSetup__newJiraSiteModalContent {
  top: 30%;
  width: 60%;
}

.jiraConfiguration__syncRetryModalOverlay,
.jiraConfiguration__errorSummaryModalOverlay,
.jiraConfiguration__restartBackfillModalOverlay,
.jiraConnectedRepos__backfillStatusModalOverlay,
.githubSetup__newJiraSiteModalOverlay,
.modal__modalOverlay {
  background: #091e42;
  opacity: 54%;
  z-index: 100;
}

.modal__modalContent {
  top: 35%;
  width: 50%;
}

.modal__additionalContent {
  margin-top: 1em;
}

.modal__footer {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}

.modal__spinner {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.modal__footer__actionBtn {
  --aui-btn-bg: #FFAB00;
  --aui-btn-text: #172B4D;
}

.modal__header__container {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
}

.modal__header__icon {
  margin-right: 6px;
}

.modal__header__title {
  margin: 0;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  align-items: center;
}

.navigation.no-back-btn {
  justify-content: flex-end;
}

.navigation__backButton__container {
  background: #fff;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__link {
  color: inherit;
}

.navigation__icon {
  transform: scale(1.3);
}

.navigation__help__container {
  align-items: center;
  display: flex;
  padding: 0.25em 0.75em;
}

.navigation__help__container > :last-child {
  margin-left: 0.2em;
}

.navigation__help__message {
  font-size: 1.2rem;
}

.navigation__link:hover {
  background: #091E4208;
  border-radius: 3px;
  color: inherit;
}

.jira-and-github-header-container {
  margin-top: 4em;
  text-align: center;
}

.jira-and-github-header-title {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.5em;
}

.aui-iconfont-warning {
  color: #FFAB00;
}

.headerImageLogo {
  height: 40px;
  transition: all 1.5s ease;
}

/******************************
Skeleton element styling
*******************************/
.skeleton {
  animation: 1s loading ease-in-out infinite;
  animation-delay: .06s;
  background: linear-gradient(
          100deg,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, .5) 50%,
          rgba(255, 255, 255, 0) 60%
  ) #ebecf0;
  background-size: 200% 100%;
  background-position-x: 180%;
  border-radius: 4px;
}

.skeleton,
.skeleton > label,
.skeleton > a {
/* Override AUI styling */
  color: transparent !important;
}

.skeleton-element {
  height: 1.5em;
}

.skeleton-input {
  height: 2.5em;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loaded {
  /* Override AUI styling */
  display: none !important;
}
