.jiraConnectGHE__content {
  margin: 4em auto 0;
  max-width: 560px;
}

.jiraConnectGHE__content__title {
  text-align: center;
  margin-bottom: 2em;
}

.jiraConnectGHE__options__subTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
  display: inline-flex;
}

.jiraConnectGHE__prompt {
  color: #344563;
  font-size: 1.01rem;
  margin-bottom: 1.2em;
}

.jiraConnectGHE__error {
  display: none;
  color: #DE350B;
  font-size: 0.85rem;
  margin-top: 0.125em;
}

.jiraConnectGHE__label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #6B778C;
}

.jiraConnectGHE__input {
  width: 100%;
  border: 2px solid #DFE1E6;
  border-radius: 3px;
  background: #FAFBFC;
  padding: 0.625em 0.5em;
  margin-top: 0.5em;
}

.has-error {
  border-color: #DE350B;
}

.jiraConnectGHE__actionBtn__container {
  margin-top: 1.25em;
  text-align: right;
}

#gheServerBtnSpinner {
  display: none;
  color: #fff;
}

.jiraConnectGHE__validationError, .jiraConnectGHE__defaultError {
  display: none;
}
