.selectGitHubProduct__content {
    margin: auto;
    max-width: 840px;
}

.selectGitHubProduct__content {
    margin-top: 4em;
}

.selectGitHubProduct__content__title {
    color: #42526E;
    margin-bottom: 3em;
    text-align: center;
}

.selectGitHubProduct__options__container {
    background: #FAFBFC;
    border-radius: 12px;
    padding: 1.5em;
}

.selectGitHubProduct__options__prompt {
    color: #5E6C84;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.selectGitHubProduct__options__cardsContainer {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.selectGitHubProduct__options__card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
    display: flex;
    flex-direction: column;
    max-width: 330px;
    padding: 2em;
    border: 4px solid transparent;
}

.selectGitHubProduct__options__card:hover {
    box-shadow: 0 3px 5px rgba(9, 30, 66, 0.2), 0 0 1px rgba(9, 30, 66, 0.31);
    cursor: pointer;
}

.selectGitHubProduct__options__card__title {
    color: #253858;
    font-size: 1.3rem;
}

.selectGitHubProduct__options__card__img.cloud {
    margin: 2em auto;
}

.selectGitHubProduct__options__card__img.server {
    transform: scale(0.7);
    margin: 0.5em auto;
}

.selectGitHubProduct__options__card__info {
    color: #5E6C84;
    font-size: 1.15rem;
    line-height: 1.5;
}

.selectGitHubProduct__actionBtn__container {
    margin-top: 3em;
    text-align: center;
}

.selectGitHubProduct__actionBtn {
    font-size: 1.2rem;
}

.selected {
    border: 4px solid #0065FF;
}

