.jiraConfigurationTable {
    table-layout: fixed ;
    width: 100% ;
}

.jiraConfigurationTable__connectionLinks > :first-child {
    padding-left: 0;
}

.jiraConfigurationTable__syncStatus {
    border-radius: 5px;
    font-weight: bold;
    padding: 0.2em 0.3em;
}

.jiraConfigurationTable__pending {
    background-color: #DFE1E6;
    color: #42526E;
}

.jiraConfigurationTable__in-progress {
    background-color: #DEEBFF;
    color: #0747A6;
}

.jiraConfigurationTable__stalled {
    background-color: #FFF0B3;
    color: #172B4D;
}

.jiraConfigurationTable__complete {
    background-color: #E3FCEF;
    color: #006644;
}

.jiraConfigurationTable__failed {
    background-color: #FFEBE6;
    color: #BF2600;
}

.jiraConfigurationTable__refresh {
    font-weight: bold;
}

section.warning {
  background-color: #FFFAE6;
  padding: 16px;
  margin-top: 50px;
  clear: both;
}

section.warning .icon {
  float: left;
  height: 75px;
  padding-right: 16px;
  padding-top: 5px;
}

.disabled-link {
  color: #A5ADBA;
  padding: 6px 12px;
}
