.jiraManualAppCreation {
  max-width: 560px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 1.75em 0 2.5em;
  font-size: 1.75rem;
  font-weight: 600;
}

.jiraManualAppCreation__formTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1.25em 0 1em;
  display: flex;
  align-items: center;
}

.jiraManualAppCreation__formTitle > .aui-icon {
  margin-left: 4px;
}

.jiraManualAppCreation__formSubTitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 1.25em 0;
  color: #344563;
}

form#jiraManualAppCreation__form > div.field-group {
  margin-bottom: 1.1em;
}

.jiraManualAppCreation_formSubmitBtn {
  margin-top: 3.1em;
  float: right;
}

/* Custom CSS for File Input */
.jiraManualAppCreation__formFileDropArea {
  position: relative;
}

.jiraManualAppCreation__formFileDropArea.active {
  border: 2px dashed #2684FF;
  background-color: #DEEBFF;
  border-radius: 10px;
}

.jiraManualAppCreation__formNoFileUploaded {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7em;
  border: 2px dashed #EBECF0;
  border-radius: 10px;
}


.jiraManualAppCreation__formFileIcon {
  height: 48px;
}

.jiraManualAppCreation__formFileMsg {
  font-weight: 600;
}

.jiraManualAppCreation__formFileSubMsg {
  color: #5E6C84;
}

.jiraManualAppCreation__formFileInput {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.jiraManualAppCreation__formFileInput + .error {
  position: absolute;
  bottom: -2.2em;
  left: 0;
}

.jiraManualAppCreation__formFileUploaded {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 2px dashed #EBECF0;
  border-radius: 10px;
}

.jiraManualAppCreation__formFileUploaded > .aui-icon {
  cursor: pointer;
  padding: 4px;
  border-radius: 3px;
}

.jiraManualAppCreation__formFileUploaded > .aui-icon:hover {
  background-color: #091E4208;
}

.jiraManualAppCreation__serverError {
  display: none;
  margin-top: 2.5em;
}

.jiraManualAppCreation__formFileErrorBorder {
  display: none;
}

.jiraManualAppCreation__formFileInput + .error ~ .jiraManualAppCreation__formNoFileUploaded,
.jiraManualAppCreation__formFileInput + .error ~ .jiraManualAppCreation__formFileUploaded {
  border: 2px solid #DE350B;
}

.jiraManualAppCreation__flag__title {
  margin-bottom: 0.5em;
}

#aui-flag-container {
  bottom: 30px;
  left: 50px;
  top: initial;
}
