.loadingScreen___container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    max-width: 648px;
}

.loadingScreen___header {
    font-size: 1.5rem;
}

.loadingScreen___imgDivider {
    font-size: 2.8rem;
    color: #6B778C;
}

.loadingScreen___imgContainer {
    margin: 4.6em 0 4.1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 375px;
}

.loadingScreen___jiraImg {
    height: 80px;
}

.loadingScreen___GitHubImg {
    height: 60px;
}

.loadingScreen___message {
    text-align: center;
    max-width: 364px;
    color: #344563;
    font-size: 1rem;
}

/**
CSS property for `session___body-session.hbs`
 */
.session___body {
    background: #fff;
}
