/*  We can't use standard breakpoints as the left panel navigation in Jira hijacks some of the screen */
@media (max-width: 1530px) {
    .jiraConfiguration__table__cell__settings__ellipsis {
      right: 0;
    }
  }

  @media (max-width: 800px) {
    .jiraConfiguration {
      padding: 2em;
    }

    .jiraConfiguration__table__cell__settings__ellipsis {
      right: 0.2em !important;
    }
  }

  @media (max-width: 540px) {
    .getConfiguration__tableHeader {
      padding-bottom: 0;
    }

    .getConfiguration__wrapper,
    .getConfiguration__accountLink,
    .getConfiguration__disclaimer {
      font-size: 0.8rem;
    }
  }
