.page-content {
    padding: 20px;
    min-height: 600px;
  }

  .title {
    float: left;
  }

  .actions {
    float: right;
  }

  .content {
    clear: both;
    padding-top: 16px;
  }

  .connection-avatar {
    border-radius: 4px;
    height: 24px;
    vertical-align: middle;
    width: 24px;
  }

  .error-message {
    background: #d04437;
    color: #fff;
  }

  .sync-retry-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .sync-retry-modal-btn {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: 1px;
  }

  .sync-status-modal-btn {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: 1px;
  }

  .sync-retry-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    top: 5px;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .muted-link {
    color: #586069 !important;
  }
  .muted-link:hover {
    color: #0366d6 !important;
    text-decoration: none;
  }
