.container {
    margin: 0 auto;
    width: 80%;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-align {
    text-align: center;
}
